flow.json
[
    {
        "id": "2a154991baf27ecb",
        "type": "tab",
        "label": "Dia 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca57f3b1e0b1485b",
        "type": "tab",
        "label": "Chat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae8a4d1c29bfd794",
        "type": "tab",
        "label": "Chat-grupal",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8c5c7f9ac0e6ce1",
        "type": "tab",
        "label": "PLC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d67b64ac972698c5",
        "type": "tab",
        "label": "Conexion Remota",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c9800085cdcd7f1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d896ed09b808a6a7",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dd1f5d218e6efaaa",
        "type": "ui_group",
        "name": "Grupo de botones",
        "tab": "d896ed09b808a6a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab62feb785a2a28c",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "d896ed09b808a6a7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a29893d25feb8eef",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4a4742aca93d8fe5",
        "type": "ui_tab",
        "name": "Chat",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f05482ee5d801792",
        "type": "ui_group",
        "name": "Chat",
        "tab": "4a4742aca93d8fe5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "847eaca0259f870b",
        "type": "ngrokauth"
    },
    {
        "id": "d42195bc7506ab2e",
        "type": "ngrokauth"
    },
    {
        "id": "5c47c1ad065b16c5",
        "type": "ngrokauth",
        "name": ""
    },
    {
        "id": "3fbc33aafaf49238",
        "type": "inject",
        "z": "2a154991baf27ecb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hola mundo",
        "payloadType": "str",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "3a7702e9ea057960"
            ]
        ]
    },
    {
        "id": "8e03fe78e161e985",
        "type": "debug",
        "z": "2a154991baf27ecb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "0961cc009a5dd689",
        "type": "inject",
        "z": "2a154991baf27ecb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "adios mundo cruel",
        "payloadType": "str",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "3a7702e9ea057960"
            ]
        ]
    },
    {
        "id": "3a7702e9ea057960",
        "type": "switch",
        "z": "2a154991baf27ecb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hola mundo",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mundo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "8e03fe78e161e985"
            ],
            [
                "b12c2f69cf1ac254"
            ]
        ]
    },
    {
        "id": "b12c2f69cf1ac254",
        "type": "debug",
        "z": "2a154991baf27ecb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "b32a1ba0092c9dc0",
        "type": "ui_button",
        "z": "2a154991baf27ecb",
        "name": "",
        "group": "dd1f5d218e6efaaa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Presionar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "hola",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "f5aaaa0294022ff2"
            ]
        ]
    },
    {
        "id": "f5aaaa0294022ff2",
        "type": "ui_text",
        "z": "2a154991baf27ecb",
        "group": "dd1f5d218e6efaaa",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensaje",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "05dc15589802708c",
        "type": "ui_button",
        "z": "2a154991baf27ecb",
        "name": "Boton para hablar",
        "group": "dd1f5d218e6efaaa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hablar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Hola me llamo David",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 520,
        "wires": [
            [
                "229e4f4fd49cedb1"
            ]
        ]
    },
    {
        "id": "229e4f4fd49cedb1",
        "type": "ui_audio",
        "z": "2a154991baf27ecb",
        "name": "",
        "group": "dd1f5d218e6efaaa",
        "voice": "es-ES",
        "always": true,
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "9f103e0e49cbbe37",
        "type": "ui_slider",
        "z": "2a154991baf27ecb",
        "name": "",
        "label": "Temperatura",
        "tooltip": "",
        "group": "ab62feb785a2a28c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "792c7bb381454700",
                "a0ca2c54e10afee8"
            ]
        ]
    },
    {
        "id": "a0ca2c54e10afee8",
        "type": "ui_gauge",
        "z": "2a154991baf27ecb",
        "name": "",
        "group": "ab62feb785a2a28c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 660,
        "wires": []
    },
    {
        "id": "792c7bb381454700",
        "type": "ui_chart",
        "z": "2a154991baf27ecb",
        "name": "",
        "group": "ab62feb785a2a28c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafica de temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 610,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b503bf61138df429",
        "type": "mqtt in",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "topic": "utxj/mantenimiento/emmanuel",
        "qos": "2",
        "datatype": "auto",
        "broker": "a29893d25feb8eef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "11b52fa31329eef1"
            ]
        ]
    },
    {
        "id": "7e4613c924988674",
        "type": "mqtt out",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "topic": "utxj/mantenimiento/david",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a29893d25feb8eef",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "11b52fa31329eef1",
        "type": "debug",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "5e76ece139e51168",
        "type": "inject",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "david",
        "payloadType": "str",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "7e4613c924988674"
            ]
        ]
    },
    {
        "id": "e5c183c5284021ff",
        "type": "comment",
        "z": "ca57f3b1e0b1485b",
        "name": "Esta parte sirve para enviar un mensaje",
        "info": "",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "1469ec4bd49926e6",
        "type": "comment",
        "z": "ca57f3b1e0b1485b",
        "name": "Esta parte sirve para recibir un mensaje",
        "info": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "39b7144c527f3f84",
        "type": "inject",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "7e4613c924988674"
            ]
        ]
    },
    {
        "id": "57164435bc70f99d",
        "type": "inject",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "7e4613c924988674"
            ]
        ]
    },
    {
        "id": "61ab9d91fdf510d9",
        "type": "mqtt in",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "topic": "utxj/mantenimiento/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "a29893d25feb8eef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "2602dbe0b3e59e80",
                "93ac6a23e01ed2c5"
            ]
        ]
    },
    {
        "id": "2602dbe0b3e59e80",
        "type": "debug",
        "z": "ca57f3b1e0b1485b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "86e207aacda3cb67",
        "type": "link in",
        "z": "ca57f3b1e0b1485b",
        "name": "mqtt-mensaje",
        "links": [
            "d7ce89ff83fab149"
        ],
        "x": 245,
        "y": 700,
        "wires": [
            [
                "7e4613c924988674"
            ]
        ]
    },
    {
        "id": "93ac6a23e01ed2c5",
        "type": "link out",
        "z": "ca57f3b1e0b1485b",
        "name": "mqtt-recibidos",
        "mode": "link",
        "links": [
            "3f6f032ab49d3608"
        ],
        "x": 475,
        "y": 260,
        "wires": []
    },
    {
        "id": "0cb4fd915630bbb7",
        "type": "ui_button",
        "z": "ae8a4d1c29bfd794",
        "name": "Boton de enviar",
        "group": "f05482ee5d801792",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "f7eb5140d8e2f994",
                "60dff55025f2d689",
                "47f7de545e5cde32"
            ]
        ]
    },
    {
        "id": "11066e93980b17d6",
        "type": "ui_text_input",
        "z": "ae8a4d1c29bfd794",
        "name": "",
        "label": "Mensaje",
        "tooltip": "",
        "group": "f05482ee5d801792",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "639b2ecfa141548e"
            ]
        ]
    },
    {
        "id": "d29ca287801dc749",
        "type": "debug",
        "z": "ae8a4d1c29bfd794",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "d7ce89ff83fab149",
        "type": "link out",
        "z": "ae8a4d1c29bfd794",
        "name": "ui-mensaje",
        "mode": "link",
        "links": [
            "86e207aacda3cb67"
        ],
        "x": 725,
        "y": 360,
        "wires": []
    },
    {
        "id": "27f2e39c479c3831",
        "type": "ui_text",
        "z": "ae8a4d1c29bfd794",
        "group": "f05482ee5d801792",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recibidos",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "3f6f032ab49d3608",
        "type": "link in",
        "z": "ae8a4d1c29bfd794",
        "name": "ui-recibidos",
        "links": [
            "93ac6a23e01ed2c5"
        ],
        "x": 245,
        "y": 460,
        "wires": [
            [
                "27f2e39c479c3831"
            ]
        ]
    },
    {
        "id": "125e21a200ab6d75",
        "type": "comment",
        "z": "ae8a4d1c29bfd794",
        "name": "Enviar mensaje al chat",
        "info": "",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "639b2ecfa141548e",
        "type": "change",
        "z": "ae8a4d1c29bfd794",
        "name": "subir payload a la varibale",
        "rules": [
            {
                "t": "set",
                "p": "mivariable",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "d29ca287801dc749"
            ]
        ]
    },
    {
        "id": "60dff55025f2d689",
        "type": "change",
        "z": "ae8a4d1c29bfd794",
        "d": true,
        "name": "bajar varianle al payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mivariable",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "d7ce89ff83fab149"
            ]
        ]
    },
    {
        "id": "f7eb5140d8e2f994",
        "type": "change",
        "z": "ae8a4d1c29bfd794",
        "name": "borrar espacio texto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "11066e93980b17d6"
            ]
        ]
    },
    {
        "id": "47f7de545e5cde32",
        "type": "function",
        "z": "ae8a4d1c29bfd794",
        "name": "",
        "func": "var variable = global.get('mivariable');\n\nmsg.payload = 'David: ' + variable;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "69e29570e9bf0e37",
                "d7ce89ff83fab149"
            ]
        ]
    },
    {
        "id": "69e29570e9bf0e37",
        "type": "debug",
        "z": "ae8a4d1c29bfd794",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "b2763df7fbb16cf8",
        "type": "debug",
        "z": "d67b64ac972698c5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "083099d431568a21",
        "type": "inject",
        "z": "d67b64ac972698c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a40605505139ac4c",
        "type": "inject",
        "z": "d67b64ac972698c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "cdb2e6d42f738e95",
        "type": "ngrok",
        "z": "d67b64ac972698c5",
        "buttonState": false,
        "port": "",
        "portType": "node-red",
        "host": "",
        "hostType": "localhost",
        "creds": "5c47c1ad065b16c5",
        "region": "",
        "regionType": "jp",
        "proto": "http",
        "bind_tls": "both",
        "bind_tlsType": "both",
        "subdomain": "",
        "subdomainType": "none",
        "auth": "",
        "authType": "none",
        "hostHeader": "",
        "hostHeaderType": "none",
        "name": "",
        "inputtype": "button",
        "inputs": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b2763df7fbb16cf8"
            ]
        ]
    }
]